{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/verify_email.css' %}">

<div class="form-container">
	<div class="container">
		<img src="https://t4.ftcdn.net/jpg/04/48/56/43/240_F_448564364_aGJWzVDsXEX7rsalXb4ufPRXOgnrgF2n.jpg"
			alt="verify-email">
		<h1>Reset Password</h1>
		<p>Enter the OTP sent to your email and set a new password.</p>
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<form action="" method="POST">
	{% csrf_token %}
	<input type="email" name="username" value="{{ username }}">
	<div>
		<label for="otp_code">Enter OTP:</label>
		<input type="text" name="otp_code">
	</div>
	<div>
		<label for="new_password">New Password:</label>
		<input type="password" name="new_password">
	</div>
	<button type="submit">Reset Password</button>
</form>
</div>
</div>