.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f8f9fa;
}

.container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 500px;
	text-align: center;
	padding: 10px;
}

.container h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

.container .form-group {
	margin-bottom: 15px;
}

.container .form-group input {
	width: 85%;
	padding: 10px;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.container .alert {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
}

.container .alert-danger {
	background-color: red;
	color: #fafafa;
	width: 75%;
	margin: 0 auto 20px;
}

.container .alert-success {
	background-color: #155724;
	color: #fafafa;
	width: 75%;
	margin: 0 auto 20px;
}

.container button {
	background-color: #FF6F61;
	color: #fff;
	border: none;
	padding: 10px 40px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.container button:hover {
	background-color: #FF6F61;
}

.container a {
	display: block;
	margin-top: 10px;
	color: #007bff;
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
}

.container img {
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
}